<%- include('../partials/header') %>

<h1><%= question.title %></h1>

<p><%= question.content %></p>
<p><strong>Created At:</strong> <%= question.createdAt %></p>
<p><strong>Updated At:</strong> <%= question.updatedAt %></p>

<%- include('../partials/footer') %>
