<%- include('../partials/header') %>

<h1><%= question.title %></h1>

<p><%= question.content %></p>
<p><strong>Created At:</strong> <%= question.createdAt %></p>
<p><strong>Updated At:</strong> <%= question.updatedAt %></p>

<form action="/questions/<%= question.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete" />
</form>

<h2>Answers</h2>

<form action="/questions/<%= question.id %>/answers" method="post">
  <div>
    <textarea name="content" rows="8" cols="80"></textarea>
  </div>
  <input type="submit" value="Submit" />
</form>

<ul class="answers-list">
  <% answers.forEach(answer => { %>
    <li>
      <p><%= answer.content %></p>
      <p><strong>Last Edited:</strong> <%= answer.updatedAt %></p>
    </li>
  <% }) %>
</ul>

<%- include('../partials/footer') %>
